.select {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.select label {
  width: 5%;
  font-weight: bold;
  text-align: left;
}

.select select {
  width: 95%;
  border-radius: 5px;
  border: 1px solid #ccc;
  font: inherit;
  padding-left: 0.5rem;
  height: 30px;
  margin-left: 30px;
}