.input {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  position: relative;
}

.input label {
  width: 5%;
  font-weight: bold;
  text-align: left;
}

.input input {
  width: 95%;
  height: 25px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font: inherit;
  padding-left: 0.5rem;
  margin-left: 30px;
}

.character-counter{
  font-weight:normal;
  font-size: 12px;
  text-align: left;
  width: 55px !important;
  color: gray;
  position: absolute;
  right: 0px;
  top: 32px;
}